<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <form id="update-form">
        아이디 : <input type="text" name="userId" /><br />
        비밀번호 : <input type="password" name="userPw" /><br />
        이름 : <input type="text" name="name" /><br />
        나이 : <input type="number" name="age" /><br />
        <button type="button" onclick="register();">회원가입</button>
    </form>
    <script>
        (function (){
            const form = document.getElementById('update-form');
            axios({
                method: 'GET',
                url: '/member/1',
            }).then((res) => {
            console.log(res.data);
                if (res.data) {
                    form.userId.value = res.data.userId;
                    form.userPw.value = res.data.userPw;
                    form.name.value = res.data.name;
                    form.age.value = res.data.age;
                }
            });
        })();
    </script>
</body>
</html>